@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Merriweather&family=Nunito:wght@500&display=swap");
html {
  scroll-behavior: smooth !important;
  background-image: linear-gradient(
    111.4deg,
    rgb(212, 212, 225) 6.5%,
    rgb(211, 210, 218) 85.2%
  );
  margin: 0;
  padding: 0;
}
.navbar {
  background-image: linear-gradient(
    111.4deg,
    rgb(212, 212, 225) 6.5%,
    rgb(211, 210, 218) 85.2%
  );

  position: sticky !important;
  top: 0 !important;
  width: 100%;
  z-index: 99;
}
.img-nav {
  border-radius: 10px;
}
.home-link {
  display: none;
}

.pages-links:hover {
  background-color: rgb(255, 170, 170) !important;
  border-bottom: 2px solid white;
  opacity: 1;
}
.pages-links {
  font-family: "Arial", Times, serif;
  font-size: 1.3em;
  font-weight: bold;
  background-image: linear-gradient(45deg, #3a383b, #657a65);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  opacity: 0.87;
}

.page-box {
  background-image: linear-gradient(
    111.4deg,
    rgb(221, 221, 230) 6.5%,
    rgb(222, 220, 230) 85.2%
  );
}

.home-box {
  height: 100vh;
}

.sotre-logo-img {
  border-radius: 50px;
  box-shadow: 5px 6px 6px black;
}

.about-us-story {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

.accordion-button {
  background-color: #ffd5f3 !important;
  font-size: 0.7em !important;
}
.accordion-item {
  background-color: #ffe6f8 !important;
}

.accordion-body {
  font-size: 1.2em !important;
}
.about-us-page {
  padding-top: 175px;
  height: 100vh !important;
}

.about-title {
  font-family: "Nunito";
  margin-top: 1.3em;
  font-weight: bold;
  color: #aa69c0;
  text-shadow: 2px 2px 1px black;

  font-size: 1.8rem;
}

.our-arts-box-page {
  padding-top: 10em;
  margin-top: 27em;
  height: 100vh !important;
}
.skills-title {
  font-weight: bold;
  color: #8a30a9;
  text-shadow: 2px 2px 1px black;
  border-bottom: solid 1px #8a30a9;
  font-size: 1.8rem;
  margin-bottom: 3em;
}

.about-box {
  text-align: center;
  padding-bottom: 20em;
  padding-top: 15em;
}

.about-section {
  margin-top: 15px;
  font-family: "Nunito";
  font-size: 1.4rem !important;
  color: rgb(186, 136, 43);
}

.about-refs-title {
  font-family: "Pattaya";
  color: #aa69c0;
  text-shadow: 2px 2px 1px black;
  margin-bottom: 50px;
}
.about-refs-box {
  padding-top: 10em !important;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgb(186, 136, 43);
  font-size: 1.3em;
  height: 100vh !important;
}

.refs-img {
  border-radius: 50px;
  box-shadow: 5px 5px 5px black;
}
.refs-info-div {
}

.image-idan {
  border-radius: 50% !important;
  height: 400px !important;
  border: 5px white solid;
}

/* another about css */
.another-about-box {
  margin-top: 18em;
  padding-top: 13em;
}
.another-about-title {
  font-family: "Pattaya";
  color: #aa69c0;
  text-shadow: 2px 2px 1px black;
  font-size: 2.5em;
}

@media only screen and (min-width: 150px) and (max-width: 992px) {
  .img-nav {
    display: none;
  }
  .home-link {
    display: block;
  }

  .pages-links:hover {
    border-bottom: 0px;
  }
  .home-box {
    padding-top: 10em;
  }
  .about-box {
    margin-top: 30em;
  }
  .image-idan {
    margin-top: 5em;
    width: 250px;
    height: 350px;
  }
  .about-refs-box {
    padding-top: 20em;
    margin-top: 37em;
  }
  .our-arts-box-page {
    padding-top: 25em;
    margin-top: 50em;
  }

  .another-about-box {
    padding-top: 30em;
    margin-top: 50em;
  }
}
